<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color:antiquewhite;">Froms</h1>
    <div class="d-flex">
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop" type="submit"
        (click)="showSave()">Add Student</button>
    </div>
  </div>
</nav>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Standard</th>
      <th>Email</th>
      <th>Mobile</th>
      <!-- <th>Location</th> -->
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of studentList ">
      <td>{{student.id}}</td>
      <td>{{student.name}}</td>
      <td>{{student.class}}</td>
      <td>{{student.email}}</td>
      <td>{{student.mobile}}</td>
      <!-- <td>{{student.Location}}</td> -->
      <td>
        <input type="button" data-bs-toggle="modal" (click)="editStudent(student)" data-bs-target="#staticBackdrop"
          value="Edit" class="btn btn-success me-2" />
        <input type="button" value="Delete" (click)="deleteStudent(student)" class="btn btn-danger" />
      </td>
    </tr>
  </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 text-align: center class="modal-title" id="staticBackdropLabel"> Registration</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <!-- <style>
          background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url("../../media/examples/lizard.png");
        </style> -->
        <form [formGroup]="studentValue" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="txtName" class="form-label">Full-Name</label>
            <input type="text" formControlName="name" class="form-control" id="txtName" placeholder="Enter your name"
              [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
              <span *ngIf="f['name'].errors['required']">
                Please enter your name
              </span>
            </div>
          </div>
          <div class="mb-3">
            <label for="txtClass" class="form-label">Standard</label>
            <input type="tel"  formControlName="class" class="form-control" id="telNo"
              placeholder="Enter your class" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
              <div *ngIf="submitted && f['class'].errors" class="invalid-feedback">
                <span *ngIf="f['class'].errors['required']">
                  Please enter valid Standard
                </span>
              </div>
          </div>
          <div class="mb-3">
            <label for="txtEmail" class="form-label">Email ID</label>
            <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1"
              placeholder="Enter your email id" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <span *ngIf="f['email'].errors['required']">
                  Please enter your Email ID
                </span>
                <span *ngIf="f['email'].errors['pattern']">
                  Please enter valid Email ID ex:abc@gmail.com
                </span>
              </div>
          </div>
          <div class="mb-3">
            <label for="txtMobile" class="form-label">Mobile</label>
            <div class="input-group">
              <div class="input-group-text">+91</div>
              <input type="tel" id="telNo" class="form-control" minlength="10" maxlength="10" formControlName="mobile"
                placeholder="Enter your Mobile number" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
                <div *ngIf="submitted && f['mobile'].errors" class="invalid-feedback">
                  <span *ngIf="f['mobile'].errors['required']">
                    Please enter your Mobile
                  </span>
                  <span *ngIf="f['mobile'].errors['pattern']">
                    Please enter valid Mobile ex:1236549870
                  </span>
                </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
        <button type="button" *ngIf="btnSaveShow==true" class="btn btn-primary" (click)="onSubmit()">Save</button>
        <button type="button" *ngIf="btnUpdateShow==true" class="btn btn-primary"
          (click)="updateStudent()">Update</button>
      </div>
    </div>
  </div>
</div>